.tracking-sidemenu{
    width: 30%;
}
.tracking-body{
    height: 100vh;
    background-color: rgba(247, 250, 252, 1);
    width: 70%;
    overflow-y: scroll;
}
.tracking-details-container{
    margin: 0px 15px;
}
.tracking-image-list{
    margin: 20px 0px;
}
.tracking-head-card{
    background-color: #fff;
    padding: 15px 15px 15px 25px;
    border-radius: 3px;
}
.tracking-body-card{
    background-color: #fff;
    padding: 15px 15px 15px 25px;
    border-radius: 3px;
    margin-top: 15px;
}
.tracking-5g{
    background-color: rgba(4, 0, 187, 1);
padding: 10px;
height: 40px;
border-radius: 5px;

}
.tracking-edge{
    background-color: rgba(138, 187, 0, 1);
padding: 10px;
height: 40px;
border-radius: 5px;



}
.tracking-ome{
padding: 10px;
background-color:rgba(138, 0, 187, 1);
height: 40px;
border-radius: 5px;


}
.tracking-prepaid{
    background-color: rgba(187, 90, 0, 1);
padding: 10px;
height: 40px;
border-radius: 5px;

}
.tracking-item-image{
    display: flex;
    margin: 10px 0px;
}
.tracking-menutitle{
    margin: auto 0px;
    padding: 0px 10px;
    font-size: 20px;
    font-weight: 600;

}
.tracking-body-title{
    font-size: 20px;
    font-weight: 550;
    padding-bottom: 15px;
}
.tracking-question-icon{
    color: rgba(102, 102, 102, 1);
    font-size: 18px !important;
    position: absolute;
    top: 10px;
}
.tracking-question-icon-head{
    color: rgba(102, 102, 102, 1);
    font-size: 18px !important;
    position: absolute;
    top: 6px;
}
.tracking-question{
    font-size: 18px;
    padding-right:10px ;
    font-weight: 500;
}
.tracking-question-area{
    position: relative;
    padding: 5px 0px;
}
.tracking-Describe{
    width: 80%;
}
.tracking-body-edgecomputing{
    width: 80%;
    padding: 10px 0px;
}
.tracking-body-edge-item{
    width: 50%;
}
.tracking-field-width-end{
    width: 100%;

}
.tracking-field-width{
    width: 95%;
}
.tracking-body-requirements-head{
 font-size: 20px;
 font-weight: 500;
 position: relative;
 margin-right: 10px;
}
.tracking-question-2{
    margin-right: 10px;
   }
   .tracking-list-container{
    width: 25%;
   }
   .tracking-list-card{
    margin: 20px 10px 10px 0px;
    padding: 5px 10px;
    border: 1px solid rgba(217, 217, 217, 1);
    border-radius: 4px;
   }
   .tracking-list-heading{
    padding-top: 12px;
    padding-left: 5px;
    font-size: 15px;
   }
   .tracking-list-Count{
    padding-top:16px;
    font-size: 28px;
    font-weight: 600;
    padding-left: 5px;
   }