.submenu-container{
    min-height: 100vh;
}
.submenu-head{
    font-size: 20px;
    font-weight: 700;
    min-height: 5vh;
    padding:10px 15px ;
}
.submenu-menutitle{
    font-size: 18px;
    font-weight: 600;
}
.submenu-item{
    padding:10px 15px ;
    border-width: 1px 0px 0px 0px;
    border-style: solid;
    border-color: rgba(238, 238, 238, 1);
}
.submenu-item-last{
    padding:10px 15px ;
    border-width: 1px 0px 1px 0px;
    border-style: solid;
    border-color: rgba(238, 238, 238, 1);
}
.submenu-item:hover{
    background-color: rgba(247, 250, 252, 1);
}
.submenu-item-last:hover{
    background-color: rgba(247, 250, 252, 1);
}
.submenu-menudescription{
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}
.submenu-5g{
    background-color: rgba(4, 0, 187, 1);
padding: 10px;
height: 40px;
border-radius: 5px;

}
.submenu-edge{
    background-color: rgba(138, 187, 0, 1);
padding: 10px;
height: 40px;
border-radius: 5px;



}
.submenu-ome{
padding: 10px;
background-color:rgba(138, 0, 187, 1);
height: 40px;
border-radius: 5px;


}
.submenu-prepaid{
    background-color: rgba(187, 90, 0, 1);
padding: 10px;
height: 40px;
border-radius: 5px;

}
.submenu-none{
    /* background-color: rgba(187, 90, 0, 1); */
padding: 10px;
height: 45px;
/* border-radius: 5px; */

}
.submenu-menucontent{
    padding: 0 10px;
}
.submenu-active{
    background-color: rgba(247, 250, 252, 1);
}
.service-body-edgecomputing{
    width: 80%;
}

